In [21]:
import pandas as pd
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

In [22]:
df = pd.read_csv("../Files/Advertising.csv")
print(df.head())

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [23]:
X = df.drop("sales", axis=1)
y = df["sales"]

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [25]:
scaler = StandardScaler()
scaler.fit(X_train)

StandardScaler()

In [26]:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [27]:
model = Ridge(alpha=100)

In [28]:
scores = cross_validate(model, X_train, y_train, scoring=["neg_mean_squared_error", "neg_mean_absolute_error"], cv=10)

In [29]:
scores = pd.DataFrame(scores)

In [30]:
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.002997,0.001999,-6.060671,-1.810212
1,0.002997,0.001001,-10.627031,-2.541958
2,0.003000,0.001998,-3.993426,-1.469594
3,0.001997,0.001000,-5.009494,-1.862769
4,0.001998,0.001997,-9.141800,-2.520697
5,0.001998,0.001000,-13.086256,-2.459995
6,0.001998,0.001000,-3.839405,-1.451971
7,0.000999,0.001999,-9.058786,-2.377395
8,0.002000,0.002997,-9.055457,-2.443344
9,0.002001,0.001997,-5.778882,-1.899797

In [31]:
mean = scores.mean()

In [32]:
mean

fit_time                        0.002199
score_time                      0.001699
test_neg_mean_squared_error    -7.565121
test_neg_mean_absolute_error   -2.083773
dtype: float64

In [33]:
model2 = Ridge(alpha=1)

In [34]:
scores2 = cross_validate(model2, X_train, y_train, scoring=["neg_mean_squared_error", "neg_mean_absolute_error"], cv=10)

In [35]:
scores2 = pd.DataFrame(scores2)

In [36]:
scores2

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.002997,0.001998,-2.962508,-1.457174
1,0.001999,0.000999,-3.057378,-1.555308
2,0.002998,0.000999,-2.173740,-1.238770
3,0.002999,0.001998,-0.833034,-0.768938
4,0.001998,0.001998,-3.464018,-1.434489
5,0.002999,0.001997,-8.232647,-1.494316
6,0.002998,0.002998,-1.905864,-1.081362
7,0.001997,0.001000,-2.765048,-1.250011
8,0.002002,0.001996,-4.989505,-1.580971
9,0.001999,0.002997,-2.846438,-1.223326

In [37]:
model2.fit(X_train, y_train)

Ridge(alpha=1)

In [38]:
y_final_prediction = model2.predict(X_test)

In [39]:
y_final_prediction

array([15.73544249, 19.56177685, 11.47282584, 16.99614361,  9.19583919,
        7.06034338, 20.24078477, 17.27047482,  9.7997058 , 19.18969381,
       12.40827613, 13.88321006, 13.72330625, 21.24960621, 18.41451801,
       10.00739858, 15.54023734,  7.72694272,  7.59886443, 20.3595504 ,
        7.831815  , 18.21607253, 24.61611392, 22.77116018,  8.0117733 ,
       12.667102  , 21.40567156,  8.10250725, 12.43158049, 12.53481984,
       10.81678067, 19.21537816, 10.09192883,  6.76998079, 17.29636618,
        7.81497124,  9.28808588,  8.31202002, 10.6122371 , 10.6533735 ,
       13.05491413,  9.80364168, 10.24764859,  8.09836046, 11.58209801,
       10.10783927,  9.025001  , 16.24936342, 13.26025422, 20.77690029,
       12.51477346, 13.96784546, 17.53696507, 11.15686875, 12.57233878,
        5.56009018, 23.21824128, 12.62301353, 18.72931877, 15.18197827])

In [40]:
mean_squared_error(y_test, y_final_prediction)

2.3190215794287523